# Binaries
huego

# Secrets
*secret*.yaml

# OS-specific files
.DS_Store
Thumbs.db

# Go-related
*.exe
*.out
*.test
*.log
*.mod
*.sum

# Build artifacts
/dist/
/bin/
/pkg/

# Dependency directories (vendor/)
vendor/

# IDE/editor settings
.vscode/
.idea/
*.iml

# Logs
*.log

